.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary-color;
    
    .top {
        height: 40%;
    }
    
    .bottom {
        height: 60%;
        background: $admin-background;
    }
}

.container {
    top: 100px;
    position: relative;
    
    .login-form {
        z-index: 1;
        max-width: 400px;
        margin: 0 auto 100px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
}
